#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator-wrap{
  display: flex;
  flex-direction: column;
}

.operator-section{
  padding: 20px;
}

.operator-section button{
  margin:5px;
}

.operand-section input{
  margin: 5px;
  max-width:65px;
} 